root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  entrypoint = ["./go-gpo"]
  args_bin = ["--log.level=debug", "--debug=querymetrics,do,flightrecorder,go,trace,router", "serve", "--enable-metrics", "--mgmt-address=:8080"]
  cmd = "make build"
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata"]
  exclude_file = []
  exclude_regex = ["_test.go", "\\.qtpl\\.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html", "qtpl"]
  kill_delay = "1s"
  log = "build-errors.log"
  send_interrupt = true
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
