@media (prefers-color-scheme: dark){
		body {color:#fff;background:#000}
		a:link {color:#9cf}
		a:hover, a:visited:hover {color:#cef}
		a:visited {color:#c9f}
}
body{
		margin:1em auto;
		max-width:80em;
		padding:0 .62em;
		font:1.2em/1.62 sans-serif;
}
h1,h2,h3 {
		line-height:1.2;
}
@media print{
		body{
				max-width:none
		}
}

table {
	border: 1px solid black;
	border-spacing: 0;
	font-size: 90%;
}

table td,th{
	border: 1px solid black;
	padding: 0.1em 0.5em
}
