<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content= "width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/web/static/main.css" type="text/css">
  <title>{{ block "title" . }}{{ end }}</title>
</head>
<body>
  <a href="{{ webroot }}/web/">go-gpo</a><br/> 
  <hr/>
  <br/>

  {{ block "body" . }}{{ end }}
</body>
</html>
