{{ template "_base.tmpl" . }}

{{ define "title" }}Devices{{ end }}

{{ define "body" }}
  <form method="POST">
    <p>Delete device {{ .DeviceName }}?</p>
    <a href="{{ webroot }}/web/device/">Back</a> <button type="submit">Delete</button>
  </form>
{{ end }}
