{{ template "_base.tmpl" . }}

{{ define "title" }}Devices{{ end }}

{{ define "body" }}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Caption</th>
        <th>Last seen</th>
      </tr>
    </thead>
    <tbody>
      {{range .Devices}}
      <tr>
        <td>{{ .Name }}</td>
        <td>{{ .DevType }}</td>
        <td>{{ .Caption }}</td>
        <td>{{ .LastSeenAt }}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
{{ end }}
