{{ template "_base.tmpl" . }}

{{ define "title" }}Index{{ end }}

{{ define "body" }}

	<ul>
		<li><a href="{{ webroot }}/web/device/">Devices</a></li>
		<li><a href="{{ webroot }}/web/podcast/">Podcasts</a></li>
	</ul>

	<h2>User</h2>

	<ul>
		<li><a href="{{ webroot }}/web/user/password">Change user password</a></li>
	</ul>

	<h2>Last actions</h2>
	<table>
		<thead>
		<tr>
			<th>Timestamp</th>
			<th>Podcast</th>
			<th>Episode</th>
			<th>Device</th>
			<th>Action</th>
			<th>Started / Position / Total</th>
		</tr>
		</thead>
		<tbody>
		{{ range .LastActions }}
			<tr>
				<td>{{ .Timestamp}}</td>
				<td>{{ .Podcast }}</td>
				<td>{{ .Episode }}</td>
				<td>{{ .Device }}</td>
				<td>{{ .Action}}</td>
				<td>
					{{ if eq .Action "play" }}
						{{ .Started }} / {{ .Position }} / {{ .Total }}
					{{ end }}
				</td>
			</tr>
		{{ end }}
		</tbody>
  </table>

{{ end }}
