{{ template "_base.tmpl" . }}

{{ define "title" }}Index{{ end }}

{{ define "body" }}

	<ul>
		<li><a href="{{ webroot }}/web/device/">Devices</a></li>
		<li><a href="{{ webroot }}/web/podcast/">Podcasts</a></li>
	</ul>

{{ end }}
