{{ template "_base.tmpl" . }}

{{ define "title" }}Podcasts{{ end }}

{{ define "body" }}

  <h1>Subscribed podcasts</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Last action date</th>
      </tr>
    </thead>
    <tbody>
      {{range .Podcasts}}
      <tr>
        <td>{{ .Title }}</td>
        <td><a href="{{webroot}}/web/episode/?podcast={{ .URL }}">{{ .URL }}</a></td>
        <td>{{ with .LastEpisode }}{{ .Timestamp }} ({{ .Action }}){{ end }}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
{{ end }}
