{{ template "_base.tmpl" . }}

{{ define "title" }}Podcasts{{ end }}

{{ define "body" }}

  <h1>Add podcast</h1>
  <form method="POST">
    <label>URL:</label> <input type="text" name="url" /><button type="submit">Add</button>
  </form>

  <h1>Subscribed podcasts</h1>

  <table>
    <thead>
      <tr>
        <th>Title<br/><small>URL</small></th>
        <th>Description</th>
        <th>Website</th>
        <th>Last action date</th>
      </tr>
    </thead>
    <tbody>
      {{range .Podcasts}}
      <tr>
        <td><a href="{{webroot}}/web/episode/?podcast={{ .URL }}">{{ .Title }}<br/><small>{{ .URL }}</small></a></td>
        <td>{{ .Description }}</td>
        <td>{{ with .Website }}<a href="{{ . }}">Website</a>{{ end }}</td>
        <td>{{ with .LastEpisode }}{{ .Timestamp }} ({{ .Action }}){{ end }}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
{{ end }}
