{{ template "_base.tmpl" . }}

{{ define "title" }}Podcasts{{ end }}

{{ define "body" }}
  <h1>Change password</h1>


  {{ if ne .Msg "" }}
    <p><b>{{ .Msg }}</b></p>
  {{ end }}

  <form method="post">
    <p><label>Current password: <input name="cpass" type="password"></label></p>
    <p><label>New password: <input name="npass1" type="password"></label></p>
    <p><label>New password again: <input name="npass2" type="password"></label></p>
    <p><button type="submit">Change</button></p>
  </form>
{{ end }}
